.fynderTitle {
    font-size: 70px;
    padding-top: 40px;
    font-family: monospace;
    font-weight: lighter;
    color: white;
    position: relative;
    text-align: center;
    cursor: pointer;
}