.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    background-color: #eea47fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    width: 30%;
}

.place-name {
    font-size: 24px;
    color: #00539cff;
}

ul {
    list-style: none;
}

sidebar ul {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}



img {
    border-radius: 50%;
    height: 110px;
    width: 110px;
}

.sidebar ul li div:hover {
    transform: scale(1.05);
    cursor: pointer;
}